html,body {
  overflow-x: hidden;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-image: url('rockConcertBlurred.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.footer:hover{
  color:#f6f7f9;
  text-decoration: none;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.nav-link{
  color:white;
  font-weight: bold;
}
.greeting {
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.fa-home{
  color: white;
}
.fa-home:hover{
  color:#f6f7f9;
}

.pocetna-karte {
  width:100%;
  background-color:#3f6184;
  color:white;
}
.zvuk-karte{
  width:100%;
  background-color:#323a45;
  color:white;
  text-align: center;
}

.pocetna-karte2 {
  width:100%;
  background-color:#323a45;
  color:white;
}
.pocetna-karte3 {
  width:100%;
  background-color:	#323a45;
  color:white;
}
/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (min-width: 800px) {
  .karosel_karta{
    width:600px;
    height: 770px;
    background-color:#323a45;}

    .karosel_karta2{
      width:600px;
      height: 833px;
      background-color:#5faeb6;
    }

  }
  .video_size {
    width: 100%;
    height: 500px;
  }
}
@media screen and (max-width: 800px) {
  .karosel_karta{
    width:350px;
    height: 450px;
    background-color:#323a45;
  }
  .karosel_karta2{
    width:350px;
    height: 470px;
    background-color:#5faeb6;
  }
  .video_size {
   width: 100%;
   height: 250px;
 }

}
/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (min-width: 991px) {
  .begone{
    width:150px;
  }
  .reaper{
    float: right;
  }
  .foo-logo{
    border-left: 10px solid #225555;
    border-right: 10px solid #225555;
  }

}
@media screen and (max-width: 991px) {
  .begone{
    width: 0px;
    height: 0px;
  }
  .reaper{
    float: none;
  }
  #pepersi1{
    width:300px;
    height: 150px;
  }
  #foo-original{
    width:300px;
    height:300px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: white;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: url(tekst/right_arrow.svg);
  font-size: 35px;
}

.carousel-control-prev-icon:after {
  content: url(tekst/left_arrow.svg );
  font-size: 35px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
a.menu {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 20px 15px;
  position: relative;
}
a.menu:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.menu:hover:after {
  width: 100%;
  left: 0;
}

.fade {
  opacity:0.5;
}
.face:hover{
  opacity:1;
}


.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.postupak_botun:hover {
color: #778899;
}
.vLine{
  border-left: 2px solid white;
  height: 40px;
}
.jumbotron {
    border-radius: 0 !important;
}
